<div id="columns">

    {% for item in data %}

        <figure>
            <img src="{{ item.img }}"/>
            <figcaption><a href="{{ item.url }}">
                    {{ item.title }}
                </a>
            </figcaption>
        </figure>

    {% endfor %}

</div>
